<!DOCTYPE html>
<html>
  <head>
    <title>InfoBox Testing</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      #floating-panel {
        position: absolute;
        top: 15px;
        left: 30%;
        z-index: 5;
        background-color: #fff;
        padding: 10px;
        border: 3px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <div id="floating-panel">
      <input id="address" type="textbox" value="Los Angeles, CA">
      <input id="submit" type="button" value="Find">
    </div>
    <div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: {lat: 34.052235, lng: -118.243683}
        });
        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            resultsMap.setCenter(results[0].geometry.location);
            var contentStr =  '<h1><%=@records[0]["location"]%></h1>'+
              <% @records.each do |row| %>
                  '<div><%=row["date"]%>  -  #<%=row["hashtag"]%>  (<%=row["count"]%>)</div>' +
              <% end %>
                  '';
            var infowindow = new google.maps.InfoWindow({
              content: contentStr
            });
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location,
            });
            infowindow.open(resultsMap, marker);
            google.maps.event.addListener(marker, 'click', function() {
              infowindow.open(resultsMap,marker); //resultsMap and marker are the variables defined previously
            });
            google.maps.event.addListener(resultsMap, 'click', function() {
              infowindow.close();
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GoogleMapsAPIKey']%>&callback=initMap">
    </script>
  </body>
</html>
